
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Dast Nevis';
    text-align: center;
}

.container{
    background-color: rgb(27,29,46);
    height: 100vh;
}

.envelope{
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 0px 0px 10px 10px;
    margin: 0 auto;
    top: 300px;
    background-color: rgb(90, 240, 182);
}

.cover{
    position: absolute;
    height: 0px;
    width: 0px;
}

.cover.top{
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 100px solid transparent;
    border-top: 100px solid rgb(90, 240, 182);
    transform-origin: top;
}

.cover.bottom.right{
    border-left: 150px solid transparent;
    border-right: 150px solid rgb(90,209,151);
    border-bottom: 100px solid rgb(90,209,151);
    border-top: 100px solid transparent;
    border-radius: 0px 0px 10px 10px;
    z-index: 5;
}

.cover.left{
    border-left: 150px solid rgb(90, 225, 167);
    border-right: 150px solid transparent;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
    border-bottom-left-radius: 10px;
    z-index: 5;
}

.putIn{
    transform: translate(0px,0px);
    transition: transform 0.7s ease;
}

.pullOut{
    transform: translate(0px,-200px) ;
    transition: transform 0.7s ease 0.5s;
    
}

.letter{
    background-color: rgb(252, 228, 94);
    border-radius: 10px;
    font-size: 25px;
    width: 95%;
    height: 100%;
    margin:0 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content:center;
}

.open{
    transform: rotateX(180deg);
    transition: transform 0.4s ease;
    z-index: 0;
}

.close{
    transform:rotateX(0deg);
    z-index:1;
    transition: transform 0.4s ease 0.7s,z-index 0.1s ease 0.6s;
}

#canvas-wrap { position:relative; } /* Make this a positioned parent */
#canvas-wrap canvas { position:absolute; top:0; left:0; z-index:0  }


.credit{
    background: #fff;
    padding: 12px;
    font-size: 9pt;
    text-align: center;
    color: #333;
    margin-top: 40px;

}
.credit span:before{
   font-family: FontAwesome;
   color: #e41b17;
   content: "\f004";


}
.credit a{
   color: #333;
   text-decoration: none;
}
.credit a:hover{
   color: #1DBF73; 
}
.credit a:hover:after{
    font-family: FontAwesome;
    content: "\f08e";
    font-size: 9pt;
    position: absolute;
    margin: 3px;
}